@import url('https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu:wght@300;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css');
@import './core.css';
@import './home.css';
@import './post.css';
@import './responsive.css';

/* Custom Properties */

/* ff: font-family  */
/* fw: font-weight */
/* fs: font-size  */


:root {
    --ff-primary: 'Ubuntu', sans-serif;
    --ff-secondary: 'Lora', serif;

    --fw-reg: 300;
    --fw-med: 400;
    --fw-bold: 700;
    
    --clr-light: #e6d5b8;
    --clr-grey: #99a8b2;
    --clr-accent: #1f6f8b;
    --clr-dark: #1c2b2d;
    
    --fs-h1: 2.125rem;
    --fs-h2: 2.50rem;
    --fs-h3: 1.50rem;
    --fs-body: 1.125rem; 

}