/*  CSS specific to media queries */

/* Custom Properties */

@media (min-width: 675px) {
    :root {
        --fs-h1: 2rem;
        --fs-h2: 2.25rem;
        --fs-h3: 1.25rem;
        --fs-body: 1.125rem;
    }
}

/* Layout */

@media (min-width: 675px) {
    header {
        text-align: left;
    }
    
    .container-flex {
        flex-direction: row;
    }
    
    main {
        width: 70%;
    }
    
    aside {
        width: 25%;
        min-width: 200px;
        margin-left: 1em;
    }
}

/* Navigation */

@media (max-width: 675px) {
    nav ul {
        flex-direction: column;
    }
    
    nav li {
        margin: .5em 0;
    }
}

/* Articles */


@media (min-width: 675px) {
    .blog-article-recent {
        grid-template-columns: 175px 1fr;
        grid-template-areas: 
            "secondary main";
        column-gap: 1em;
        
    }

    .blog-article-image {
        min-height: 280px;
        object-fit: cover; 
    }
}

/* Card-about */

@media (min-width: 600px) {
    .card-secondary {
        grid-template-areas: 
          ". email . social ."
    }
    
    .social-link {
        text-align: left;
    }
    
    .social-list {
        justify-content: flex-end;
    }
}

/* Footer */

@media (min-width: 600px) {
    footer {
        grid-template-areas: 
          ". main main social ."
    }
    
    .footer-main {
        text-align: left;
    }
    
    .social-list {
        justify-content: flex-end;
    }
}


